@font-face {
    font-family: "Alien Encounters";
    src: url('./images/Alien-Encounters-Italic.ttf');
  }
  
  /* Define a CSS class for your custom font */
.alienfont {
    font-family: "Alien Encounters", sans-serif; /* Use the correct font family */
  }
  